body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}
.logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.card {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.smallCard1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
}

.billInput, .numPeopleInput {
    display: flex;
    flex-direction: column;
}
.customInput {
    display: flex;
    flex-direction: column;
    display: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: right;
}

.billInputArea, .numPeopleInputArea, .customInputArea {
    background-color: hsl(189, 41%, 97%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#customInputArea {
    background-color: hsl(189, 41%, 97%);
    border: none;
    outline: none;
    padding: 1rem;
}

.numPeopleLabels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numPeopleErrorMsg {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: right;
    color: hsl(9, 56%, 78%);
    font-weight: 700;
    display: none;
}

#bill, #numPeople {
    background-color: hsl(189, 41%, 97%);
    border: none;
    text-align: right;
    font-family: 'Space Mono', monospace;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    text-align: right;
    outline: none;
    border: none;
    background-color: hsl(189, 41%, 97%);
}

input:focus {
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.radio-toolbar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

.radio-toolbar label {
    display: inline-block;
    background-color: hsl(183, 100%, 15%);
    padding: 0.5rem 0;
    font-family: sans-serif, Arial;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Space Mono', monospace;
    text-align: center;
    margin: 0.5rem;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
.radio-toolbar label:hover {
    cursor: pointer;
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
  }



.smallCard2 {
    background-color: hsl(183, 100%, 15%);
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eachTip, .eachTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.eachTotal {
    margin-bottom: 5rem;
}

.eachTipAmount, .eachTotalAmount {
    color: hsl(172, 67%, 45%);
    font-size: 2.5rem;
    font-weight: 700;
}

.splitLabel {
    color: white;
    display: flex;
    flex-direction: column;
}

.splitLabel span {
    color: hsl(185, 41%, 84%);
}

.resetButton {
    background-color: hsl(172, 67%, 45%);
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding: 1rem 0;
    margin: 1rem;
}

.resetButton:hover {
    background-color: hsl(185, 41%, 84%);
    cursor: pointer;
}

.attribution {
    position: absolute;
    top: 100%;
}

@media (max-width: 1200px) {
    .card{
        width: 70%;
    }
}

@media (max-width: 1100px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    
    .card {
        width: 90%;
    }
    .smallCard1 {
        padding: 1rem;
        width: 90%;
    }
    .smallCard2{
        width: 80%;
    }
}

@media (max-width: 825px) {
    .logo {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card   {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

@media (max-width: 480px) {
    .radio-toolbar {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .eachTip, .eachTotal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .eachTotal {
        margin-bottom: 1rem;
    }
}

@media (max-width: 299px) {
    .card {
        width: 100%;
    }
}